<!-- Button trigger modal -->
<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#film_<%= film.id %>">Trailer</button>

<!-- Modal -->
<div class="modal fade trailer_modal" id="film_<%= film.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-trailer-url="<%= film.review.youtube_html %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" ><%= film.title %></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->