<h1>Upcoming Movies</h1>
<% @movies.each do |cinema, movies| %>
<h3><%= cinema %></h3>
	<ul>
		<% if ! movies.empty? %>
			<% movies.each do |title, performances| %>
				<li><%= title %> at: <%= performances.join(', ') %></li>

			<% end %>
		<% else %>
			 <p>There are no more performances for today in this cinema.</p>
		<% end %>
	</ul>

<% end %>