
<%= content_for(:menu_items) do %>
  <% @cinemas.each do |cinema| %>
    <%- if cinema.performances.current.count > 0 %>
     <li><a href="#<%= cinema %>"><%= cinema.name.gsub("London - ", "") %></a></li>
    <% end %>
  <% end %>
<% end %>

<div class="row" id="cinema_ctrl" ng-controller="CinemaController" >
  <div class="col-md-9 col-lg-9" ng-show="cinemas_loading || films_loading">
    <%= image_tag 'loading.gif' %>
  </div>
  <div class="col-md-9 col-lg-9" id="list_of_movies">
    <div class="row" ng-repeat="cinema in cinemas">
     <h2 id="cinema{{cinema.id }}">{{ cinema.name }}</h2>

     <div class="row film"
     ng-repeat="(film_id, pfilm) in cinema.films"
     ng-controller="FilmController"
     ng-class-odd="'odd'"
     >
     <!-- poster -->
     <div class="col-md-2 col-xs-4">
       <a href="{{ film.film_url}}" ng-if="film.poster_url">
         <img ng-src="{{ film.poster_url }}"/>
       </a>
     </div>
    <!-- end of poster -->

   <!-- performances -->
   <div class="performances_and_plot col-md-8">
    <a href="{{ film.film_url}}" class="filmtitle">{{film.title}}</a>
    <span ng-if="film.review">{{ film.review['length'] }}",</span>
    <span ng-if="film.review.rating">{{ film.review.rating}}/10.0</span>
    <p>
      <a
      class="badge"
      ng-repeat="performance in pfilm.performances"
      ng-href="{{ performance.booking_url }}">
      {{performance.short_time}}
      </a>
    </p>
    <!-- end of performances -->
    <!-- plot -->
    <p ng-hide="show_long_plot">{{ film.review.plot }} </p>
    <p ng-show="show_long_plot">{{ film.review.plot_summary }}</p>
    <button type="button" class="btn btn-default btn-xs" ng-click="display_long_plot($event)">{{plot_button}}</button>
    <!-- end of plot -->
  </div>
  <!-- buttons on right -->
  <div class="tools col-md-2" class="movie_buttons">
    <a class="btn btn-default btn-xs" type="button" href="{{ film.review.url}}">IMDB</a>
    <button class="btn btn-default btn-xs"  data-toggle="modal" data-target="#film_{{ film.id }}">Trailer</button>
    <label class="checkbox">
      <input type="checkbox" ng-model="film.watched" ng-change="save()"/>watched?
    </label>


  </div>
  <!-- end of buttons on right -->

  </div> <!-- end of film -->
  </div> <!-- end of cinema -->
</div> <!-- end of list of movies pane -->

<div class="col-md-3 col-lg-3" id="navbar-wrapper"> <!--  navbar on right -->
  <div class="rightmenu affix">
      <p>
        <input type="search" ng-model="filter.search" name="film_filter" id="inputFilm_filter" class="form-control" value="" placeholder="Filter...">
      </p>
      <p>
        <button type="button"
        class="btn btn-primary btn-xs"
        ng-click="show_watched=!show_watched"
        data-toggle="button">
        display watched
        </button>
      </p>
      <p>
        <!-- slider -->
        After: <b>{{ cutoff_time_min | toMinutes}}</b> <br>
        Before: <b>{{ cutoff_time_max | toMinutes }}</b>

        <slider floor="14"
          ceiling="24"
          precision="2"
          step="0.5"
          ng-model-low="cutoff_time_min"
          ng-model-high="cutoff_time_max"
          translate="toMinutes"
          ></slider>

      </p>
      </div> <!-- end of navbar -->
</div> <!-- end of navbar -->

<!-- trailer  divs -->
<!-- Modal -->
<div
class="modal fade trailer_modal"
id="film_{{film.id}}"
tabindex="-1"
role="dialog"
aria-labelledby="myModalLabel"
aria-hidden="true"
data-trailer-url="{{ film.review.youtube_html }}"
ng-repeat="film in films"
my-populate-trailer
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" >{{ film.title }}</h4>
    </div>
    <div class="modal-body">
      <iframe></iframe>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



</div>
