
<%= content_for(:menu_items) do %>
    <% @cinemas.each do |cinema| %>
                <li><a href="#<%= cinema %>"><%= cinema.name.gsub("London - ", "") %> </a></li>
    <% end %>
<% end %>

<div class="row" id="cinema_ctrl" ng-controller="CinemaController" ng-init="init()">
    <div class="col-md-10 col-lg-11" id="list_of_movies">
        <div class="row" ng-repeat="cinema in cinemas">
                 <h2> {{ cinema.name }}</h2>
                 <div class="row film"
                      ng-show="!film.watched || show_watched"
                      ng-repeat="film in film_in_cinema(cinema.id)"
                      ng-controller="FilmController"
                      ng-init="init()"
                      ng-class-odd="'odd'"
                 >
                    <!-- poster -->
                    <div class="col-md-2 col-xs-4">
                          <a href="{{ film.film_url}}" ng-if="film.poster_url">
                           <img ng-src="{{ film.poster_url }}"/>
                          </a>
                    </div>
                    <!-- end of poster -->
                 
                    <!-- performances --> 
                    <div class="performances_and_plot col-md-8">
                        <a href="{{ film.film_url}}" class="filmtitle">{{film.title}}</a>
                        <span ng-if="film.review.length != ''">{{ film.review.length }}m</span>
                        <p>
                            <a 
                                class="badge" 
                                ng-repeat="performance in film.performances"
                                ng-href="{{ performance.booking_url }}">
                                {{performance.short_time}}
                            </a>
                        </p>
                        <!-- end of performances -->
                        <p ng-hide="show_long_plot">{{ film.review.plot }} </p>
                        <p ng-show="show_long_plot">{{ film.review.plot_summary }}</p>
                    </div>
                    <div class="tools col-md-2">
                        <button type="button" class="btn btn-default btn-xs" ng-click="display_long_plot($event)">{{plot_button}}</button>
                        <a class="btn btn-default btn-xs" type="button" href="{{ film.review.url}}">IMDB</a>
                        <button class="btn btn-default btn-xs"  data-toggle="modal" data-target="#film_{{ film.id }}">Trailer</button>
                        <label class="inline checkbox">
                            <input type="checkbox" ng-model="film.watched" ng-change="save()"/>watched?
                        </label>
                    </div>
                 </div>
        </div>
    </div>

    <div id="navright" class="col-md-2 col-lg-1">
        <div class="row">
            <div class="col-md-1" data-spy="affix" data-offset-top="100">
                <label class="checkbox inline">
                    <input type="checkbox" ng-model="show_watched"/>show watched? 
                </label>
            </div>
        </div>
    </div>

    <!-- trailer  divs -->
    <!-- Modal -->
    <div 
        class="modal fade trailer_modal"
        id="film_{{film.id}}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
        data-trailer-url="{{ film.review.youtube_html }}"
        ng-repeat="film in films"
        my-populate-trailer
        >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" >{{ film.title }}</h4>
          </div>
          <div class="modal-body">
            <iframe></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</div>
