// Place all the styles related to the KinoController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a { color: #166293 }
a:visited { color: #07588C }
// h3 { color: #297EB5 }
body { font-family: Helvetica; padding-top: 40px }
// .film { padding-top: 50px;}
.film { padding: 10px }
.full_plot { display: none;}
.still { display: none; }
.hide_full_plot { display: none; }
.filmtitle { font-size: 180%; }
//.odd { background-color: #e3f4ff; }
.odd { background-color: #e6e6e6; }

//    .primary-1 { background-color: #0A67A3 }
//    .primary-2 { background-color: #166293 }
//    .primary-3 { background-color: #07588C }
//    .primary-4 { background-color: #1C79B5 }
//    .primary-5 { background-color: #297EB5 }
//    
//    .complement-1 { background-color: #FF8E00 }
//    .complement-2 { background-color: #E68A17 }
//    .complement-3 { background-color: #DB7A00 }
//    .complement-4 { background-color: #FF9A19 }
//    .complement-5 { background-color: #FFA32E }

.trailer_modal .modal-dialog {
    width: 900px;
    height: 600px;
}